@font-face {
  font-family: Olivia-Regular;
  src: url('/fonts/Olivia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Safira;
  src: url('/fonts/Safira.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --cream-color: #FAF8F2;
  --gold-color: linear-gradient(135deg, #F7DEAB, #CAB17F);
  --rose-color: #F4EBE9;
}

html,
body {
  font-family: sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

html,
body,
div#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-block: 0;
  margin-inline: 0;
}
