.header {
    background-color: var(--cream-color);
    display: flex;
    flex-direction: column;
    position: static;
    border-image-source: var(--gold-color);
    border-image-slice: 1;
    border-bottom: 2px solid;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: 0.85rem;
    width: 100%;
    z-index: 2;
    margin-bottom: 50px;
    max-width: var(--max-width);
}

.textHeaderRoot {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    max-width: 480px;
    margin-right: 100px
}

.textHeader {
    display: flex;
    font-family: Olivia-Regular;
    font-size: 50px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    justify-content: center;
    align-items: center;
}

.textSubHeaderBold {
    font-weight: 600;
}

.textSubHeader {
    margin-top: 8px;
    font-weight: 300;
}

.backgroundImage {
    position: relative !important;
    max-width: 1440px;
    align-self: center;
}
