.header {
    background-color: var(--cream-color);
    display: flex;
    flex-direction: column;
    position: static;
    border-image-source: var(--gold-color);
    border-image-slice: 1;
    border-bottom: 2px solid;
    height: auto;
}

.backgroundImageSection {
    display: flex;
    justify-content: center;
}

.backgroundImage {
    height: 40px;
}

.headerBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10%;
}

.logo {
    position: relative;
}

.logoImage {
    width: 230px;
    height: 200px;
    margin-left: 12px;
}

.logoNames {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Safira;
    font-size: 20px;
}

.textHeaderRoot {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    max-width: 400px;
    margin-left: 10%;
    margin-right: 10%;
}

.textHeader {
    display: flex;
    font-family: Olivia-Regular;
    font-size: 35px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.textHeaderImage {
    width: 77px;
    height: 64px;
    margin-bottom: 30px;
}

.textSubHeaderBold {
    font-weight: 600;
}

.textSubHeader {
    margin-top: 8px;
    font-weight: 300;
}

@media only screen and (max-width: 767px) and (min-width: 545px) {
    .logoImage {
        width: 190px;
        height: 170px;
        margin-left: 10px;
    }
    
    .logoNames {
        font-size: 18px;
    }

    .textHeader {
        display: none;
    }

    .textHeaderImage {
        display: none;
    }
    
    .textSubHeaderBold {
        font-weight: 600;
    }

    .textHeaderRoot {
        font-size: 16px;
        padding: 0 30px;
        max-width: 500px;
        margin: 0;
    }

    .headerBody {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 544px) {
    .header {
        height: 100%;
    }

    .headerBody {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 0px;
        margin-top: 20px;
    }

    .textHeaderRoot {
        font-size: 16px;
        min-width: 265px;
        max-width: 350px;
        margin: 20%;
    }
}